<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" href="../Content/css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">


                <img src="../images/icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
                <h4 style="color:white" class="mr-5">Restaurant</h4>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", new { Controller = "Home" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Restaurant", "Restaurant", new { Controller = "Restaurant" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cuisine", "Cuisine", new { Controller = "Cuisine" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Order", "Order", new { Controller = "Home" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Bill", "Bills", new { Controller = "Bills" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("DiningTableTrack", "DiningTableTrack", new { Controller = "DiningTableTrack" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Customer", "Customer", new { Controller = "Customer" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Report", "Report", new { Controller = "Report" }, htmlAttributes: new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="container">

                    <p>Designed & Developed By <a href="mailto:purohit.kruti@gmail.com">Kruti Purohit </a></p>
                </div>
            </div>

        </footer>
    </div>


</body>
</html>
