<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Restaurant Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
  
    <link rel="stylesheet" href="../Content/css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">


                <img src="../images/icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
               <h4 style="color:white" class="mr-5">Restaurant</h4>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "Index", "Home", htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="allpies.html">Restaurant</a>
                                <a class="dropdown-item" href="allpies.html">Cuisine</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Order", "Order", "Home", htmlAttributes: new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bill.html">Bill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bill.html">Dinig Table Track</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bill.html">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="bill.html">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="container">

                    <p>Designed & Developed By <a href="mailto:purohit.kruti@gmail.com">Kruti Purohit </a></p>
                </div>
            </div>

        </footer>
    </div>

    
</body>
</html>
